                
                body {
                    background-color: Black
                     }

    
                 
                h3 {
                 border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                  color: rgba(255, 255, 255, 0.5);
                   font-weight: 100;
                    font-family: Roboto, sans-serif;
                     font-size: 22px;
                       font-style: italic;
                         letter-spacing:0.02em;
                          line-height: 24px;
                            padding-bottom: 30px;
                             text-align: center;
                              width: 70%;
                                word-spacing: 0.05em;               
                                }

            
               h5 {
                    font-size: 20px;
                       color: Red;                   
                       }

    
               h1 { 
                     color: black;
                        font-size: 50px;
                          background-color: Red;
                            text-align: center;
                              font-family: 'Indie Flower', cursive;
                                padding-top: 0px;
                                   border-style: solid;
                                     border-left-width: 4px                                         
                                      }

                                        
               p {
                   font-size: 18px;
                     color: #FF0000;
                       font-family: 'Indie Flower', cursive;
                         background-color: rgb( 0, 0, 0);
                          text-align: left                  
                           }

                                     
               li{
                  font-weight: 100;
                   font-family: Roboto, sans-serif ;
                    font-size: 22px;
                      font-style: italic;
                        color: rgb(255, 0, 0);
                          background-color: rgb(0, 0, 0);                  
                            }

              
               ol{
                 background-color: black;
                    color: Red;
                      padding: 20px 12%;
                       }

    
                div{
                    margin-right: 15%;
                      margin-left: 15%;
                      }
                    
                
                 h2, p {
                    color: red;
                      }
                    
            
                    
                    img{
                        border-radius: 50%;                        
                        }

                    
                    li:hover{
                          color: gray;
                            font-size: 50px;
                             }

              
                     li:visit{
                        color: gray;
                        }
                  
                    
                  
                  
                  
                  
                  
                  
                  
                  
              
              
              
              
